/*******************************************/
/*                 FORMS                   */
/*******************************************/

/***** FIELDSET *****/

/* Normal */
fieldset {
	font-family: @normal-font-family;
    font-size: @normal-font-size;
    line-height: @normal-line-height;
    
    dl dt label {
		font-weight: @fieldset-label-font-weight;
		color: @fieldset-label-font-color;
	}
    dl:hover dt label { color: @fieldset-label-hover-font-color; }
}

/* Label */
label { color: @fieldset-label-font-color }
.jumpbox label, .vf_jumpbox label, .quickmod label { color: @wrap-font-color; }


/**** SELECT *****/
* html select { font-size: @normal-font-size; }
select {
    background-color: @input-background-color;
    border: @input-border;	
    .border-radius(@input-border-radius 0px 0px @input-border-radius);

    font-family: @normal-font-family;
    font-size: @normal-font-size;
    line-height: @normal-line-height;
    color: @input-font-color;
}

select:hover { border: @input-border-hover; }
select:focus:hover, select:focus { border: @input-border-focus; }


/***** INPUT *****/

/* Global */
* html input { font-size: @normal-font-size; }
input {
	font-family: @normal-font-family;
    font-size: @normal-font-size;
    line-height: @normal-line-height;
    color: @input-font-color;
}

/* File */
input[type="file"] { font-size: @very-small-font-size; }

/* Others */
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="file"],
input[type="month"],
input[type="number"], 
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
.inputbox {
    background-color: @input-background-color;
    border: @input-border;	
    .border-radius(@input-border-radius);
}

input[type="date"]:hover,
input[type="datetime"]:hover,
input[type="datetime-local"]:hover,
input[type="email"]:hover,
input[type="file"]:hover,
input[type="month"]:hover,
input[type="number"]:hover, 
input[type="password"]:hover,
input[type="search"]:hover,
input[type="tel"]:hover,
input[type="text"]:hover,
input[type="time"]:hover,
input[type="url"]:hover,
input[type="week"]:hover,
.inputbox:hover {
  border: @input-border-hover;
}

input[type="date"]:focus:hover,           input[type="date"]:focus,
input[type="datetime"]:focus:hover,       input[type="datetime"]:focus,
input[type="datetime-local"]:focus:hover, input[type="datetime-local"]:focus,
input[type="email"]:focus:hover,          input[type="email"]:focus,
input[type="file"]:focus:hover,           input[type="file"]:focus,
input[type="month"]:focus:hover,          input[type="month"]:focus,
input[type="number"]:focus:hover,         input[type="number"]:focus,
input[type="password"]:focus:hover,       input[type="password"]:focus,
input[type="search"]:focus:hover,         input[type="search"]:focus,
input[type="tel"]:focus:hover,            input[type="tel"]:focus,
input[type="text"]:focus:hover,           input[type="text"]:focus,
input[type="time"]:focus:hover,           input[type="time"]:focus,
input[type="url"]:focus:hover,            input[type="url"]:focus,
input[type="week"]:focus:hover,           input[type="week"]:focus,
.inputbox:focus:hover,                    .inputbox:focus {
  border: @input-border-focus;
}


/***** TEXTAREA *****/
textarea {
    .border-radius(@input-border-radius);
    border: @input-border;
    padding: 1px 5px;

    font-family: @normal-font-family;
    font-size: @normal-font-size;
    line-height: @normal-line-height;
    color: @input-font-color;
}
textarea:hover { border: @input-border-hover !important; }
textarea:focus:hover, textarea:focus { border: @input-border-focus !important; }

#textarea_content {
    textarea, textarea:hover, textarea:focus:hover, textarea:focus {
        border: 0px !important;
        padding: 0px;
    }
}



/*******************************************/
/*                BUTTONS                  */
/*******************************************/


/***** ALL *****/
input.button1, a.button1,
input.button2, a.button2, button.button2,
input#submit_button, input.mainoption,
input[type="button"], input[type="submit"], input[type="reset"],
.fontbutton, .fontbutton.fontbutton_normal, .fontbutton.fontbutton_clicked,

input.button1:hover, a.button1:hover,
input.button2:hover, a.button2:hover,
input#submit_button:hover, input.mainoption:hover,
input[type="button"]:hover, input[type="submit"]:hover, input[type="reset"]:hover,
.fontbutton.fontbutton_hover {
    font-family: @normal-font-family;
    font-size: @small-font-size;
    line-height: normal-line-height;

    text-shadow: @button-text-shadow;
    box-shadow: @button-box-shadow;
}


/***** IMPORTANT *****/
input.button1, a.button1, input.mainoption,
input[type="submit"] {
    background-color: @button-important-background-color;
    color: @button-important-font-color !important;
    border-color: @button-important-border-color;
}

input.button1:hover, a.button1:hover, input.mainoption:hover,
input[type="submit"]:hover {
    background-color: @button-important-hover-background-color;
    color: @button-important-hover-font-color;
    border-color: @button-important-hover-border-color;
}

/***** NORMAL *****/
input.button2, a.button2, button.button2, input#submit_button,
input[type="button"], input[type="reset"],
.fontbutton, .fontbutton.fontbutton_normal, .fontbutton.fontbutton_clicked {
    background-color: @button-normal-background-color !important;
    color: @button-normal-font-color !important;
    border-color: @button-normal-border-color !important;
}

input.button2:hover, a.button2:hover, button.button2:hover, input#submit_button:hover,
input[type="button"]:hover, input[type="reset"]:hover,
.fontbutton:hover, .fontbutton.fontbutton_normal:hover, .fontbutton.fontbutton_clicked:hover {
    background-color: @button-normal-hover-background-color !important;
    color: @button-normal-hover-font-color !important;
    border-color: @button-normal-hover-border-color !important;
}